@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "simplemde";
@import "datepicker";

.vertical-center{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
body{
  padding-bottom: 2rem;
}
.excerpt .CodeMirror-sizer{
  height: 150px;
  max-height: 150px;
}

.object-values-list .title {
	font-size: 10px;
	text-transform: uppercase;
	color: #8a8a8a;
}